body{
    font-family: arial, sans-serif;
    background: rgb(103, 95, 95);
    margin: 100px;
}
.borda{
    background-color: rgb(217, 53, 53);
    width: 450px;
    height: 500px;
    border-radius: 30px;
}
#title{
    color: gray;
}
#stage{
    width: 400px;
    height: 400px;
}